@media screen and (max-width: 23.4375em) {
  .site-branding div a {
    font-size: 8vw; } }

@media only screen and (min-width: 768px) {
  .mobile-menus,
  .mobile-display {
    display: none; }
  .block_totol_twitt_statistics_mobile.block-users-tweets-statistics-block {
    display: none !important; }
  .import_tweets_logs {
    padding-left: 35px;
    text-transform: capitalize; } }

@media only screen and (min-width: 320px) and (max-width: 767px) {
  /** common element **/
  select,
  input {
    border-radius: 0; }
  /** header **/
  .tooltip-css,
  #delete-selected,
  #block-submenufooterblock,
  #block-primarymenu,
  .tablet_display {
    display: none !important; }
  .path-dashboard .mobile-menus,
  .path-user .mobile-menus {
    display: none; }
  .user-logged-in #block-primaryresponsivemenu .menu li:first-child {
    display: none; }
  #block-primaryresponsivemenu .menu {
    margin-left: 0; }
    #block-primaryresponsivemenu .menu li {
      margin-bottom: 1em;
      padding: 0 20px;
      text-align: right; }
      #block-primaryresponsivemenu .menu li a {
        color: #ffffff;
        font-size: 14px;
        padding: 0; }
      #block-primaryresponsivemenu .menu li:first-child a {
        text-align: center;
        background: #2aa9e0;
        width: 100%;
        padding: .7em 1em .7em 1em; }
      #block-primaryresponsivemenu .menu li:nth-last-child(2) {
        padding: 30px 20px 5px 20px;
        border-top: 1px solid #fff; }
  .user-logged-in.path-user #main-wrapper {
    margin: 0; }
  .user-logged-in .block-users-valid-tweets-block,
  .user-logged-in .block-users-in-valid-tweets-block,
  .user-logged-in .block-users-archived-tweets-block,
  .user-logged-in .block-users-all-tweets-block,
  .user-logged-in .block-users-tweeted-tweets-block {
    max-height: 100%; }
  .user-form .form-actions {
    padding: 0px 20px 10px 20px; }
    .user-form .form-actions input {
      width: 100%;
      margin: 20px auto; }
  .user-form .field--name-field-country select {
    flex: none;
    width: 100%; }
  .user-form .field--name-field-country label {
    margin-bottom: 1em;
    font-weight: normal;
    flex: none;
    width: 100%; }
  .user-form .details-wrapper label {
    flex: none;
    width: 100%;
    margin-bottom: 1em;
    font-weight: normal; }
  .user-form .details-wrapper select {
    flex: none; }
  .user-form .message-header .form-item label {
    flex: none;
    margin-bottom: 1em;
    font-weight: normal; }
  .user-form .message-header .form-item input {
    flex: none;
    font-size: 12px; }
  .user-form .message-header .form-item .validation-error {
    padding-left: 0; }
  .user-form .message-header .form-item #email-sent {
    width: 100%;
    padding-left: 0; }
  .user-form .invite-friend {
    right: 20px;
    top: 28px;
    font-size: 12px; }
  .user-form .js-form-item.form-item {
    flex-wrap: wrap; }
  .user-form summary {
    font-size: 16px;
    font-weight: normal; }
  .user-logged-in .messages--status {
    left: 0;
    position: fixed;
    font-size: 14px;
    margin-bottom: 50px; }
    .user-logged-in .messages--status:before {
      font-size: 26px;
      top: 13px;
      margin-left: -36px; }
  .import_tweets_logs {
    display: none; }
  #header {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 0.7em;
    padding-bottom: 0.7em; }
  .site-branding {
    float: left !important;
    width: auto !important; }
    .site-branding svg {
      width: auto; }
  .block-sub-nav-main-menu {
    float: left; }
    .block-sub-nav-main-menu ul.menu {
      margin-left: 0; }
  .site-branding__logo {
    width: 50px; }
  .c-hamburger:focus {
    outline: 0; }
  .c-hamburger--htx {
    background-color: transparent; }
    .c-hamburger--htx span {
      -webkit-transition: background 0s .3s;
      transition: background 0s .3s; }
  .c-hamburger {
    display: block;
    position: absolute;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 55px;
    right: 0;
    top: 9px;
    z-index: 2;
    height: 20px;
    font-size: 0;
    text-indent: -9999px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-shadow: none;
    border-radius: none;
    border: none;
    cursor: pointer;
    -webkit-transition: background .3s;
    transition: background .3s; }
    .c-hamburger span {
      display: block;
      position: absolute;
      top: 8px;
      left: 25px;
      right: 0px;
      height: 3px;
      background: #fff;
      width: 30%;
      border-radius: 10px; }
  .c-hamburger--htx span::after,
  .c-hamburger--htx span::before {
    -webkit-transition-duration: .3s,.3s;
    transition-duration: .3s,.3s;
    -webkit-transition-delay: .3s,0s;
    transition-delay: .3s,0s; }
  .c-hamburger span::after,
  .c-hamburger span::before {
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #fff;
    content: "";
    border-radius: 10px; }
  .c-hamburger span::before {
    top: -8px;
    width: 25px; }
  .c-hamburger--htx span::before {
    -webkit-transition-property: top,-webkit-transform;
    transition-property: top,transform; }
  .c-hamburger--htx span::after,
  .c-hamburger--htx span::before {
    -webkit-transition-duration: .3s,.3s;
    transition-duration: .3s,.3s;
    -webkit-transition-delay: .3s,0s;
    transition-delay: .3s,0s; }
  .c-hamburger span::after {
    bottom: -8px;
    width: 22px; }
  .c-hamburger--htx span::after {
    -webkit-transition-property: bottom,-webkit-transform;
    transition-property: bottom,transform; }
  .c-hamburger.c-hamburger--htx.is-active + .sidenav {
    width: 150px; }
  .c-hamburger--htx.is-active span::after, .c-hamburger--htx.is-active span::before {
    -webkit-transition-delay: 0s,.3s;
    transition-delay: 0s,.3s; }
  .c-hamburger--htx.is-active span::after {
    bottom: 0;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  .c-hamburger--htx.is-active span::before {
    top: 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg); }
  .c-hamburger--htx.is-active span {
    background: 0 0; }
    .c-hamburger--htx.is-active span:before, .c-hamburger--htx.is-active span:after {
      width: 100%; }
  .c-hamburger.c-hamburger--htx.is-active {
    position: fixed;
    right: 15px;
    top: 20px; }
  .sidenav {
    height: 100%;
    /* 100% Full-height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Stay on top */
    top: 0;
    right: 0;
    background-color: #111;
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 60px;
    /* Place content 60px from the top */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidenav */ }
  .sidenav a {
    padding: 8px 8px 8px 0;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s; }
  .block-sub-nav-main-menu .menu li {
    display: block; }
  /** home page slider **/
  .path-frontpage .region-content {
    display: flex;
    flex-wrap: wrap; }
  .path-frontpage #block-srijan-content {
    order: 3;
    width: 100%;
    margin-top: 30px; }
  .path-frontpage #block-twitterusersblock {
    order: 2; }
  .path-frontpage #block-twittertweetsblock {
    order: 1; }
  .path-frontpage .user-login-form {
    width: 90%;
    float: none;
    margin: 0 auto;
    box-shadow: 0px 3px 13px #888888;
    padding: 4.5em 2em 6em 2em; }
  .path-frontpage .section + .section .region-middle {
    margin-top: 0; }
  .twitter-btn {
    padding: 15px 30px; }
  .view-home-page-carousel .flexslider {
    height: 460px;
    border-radius: 0; }
    .view-home-page-carousel .flexslider .slides .views-field-field-front-page-image {
      height: 460px; }
      .view-home-page-carousel .flexslider .slides .views-field-field-front-page-image img,
      .view-home-page-carousel .flexslider .slides .views-field-field-front-page-image .field-content {
        height: 100%;
        width: auto; }
    .view-home-page-carousel .flexslider .slides .slider-content {
      top: 50px;
      left: 0;
      width: 100%;
      padding: 20px; }
      .view-home-page-carousel .flexslider .slides .slider-content h2 {
        font-size: 20px;
        text-align: center; }
      .view-home-page-carousel .flexslider .slides .slider-content p {
        padding: 0 30px;
        text-align: center;
        font-size: 14px; }
    .view-home-page-carousel .flexslider .flex-control-paging {
      width: 100%;
      left: 0;
      bottom: 36%; }
      .view-home-page-carousel .flexslider .flex-control-paging li a {
        width: 10px;
        height: 10px;
        background: #303030; }
    .view-home-page-carousel .flexslider .flex-direction-nav {
      bottom: 60%;
      left: 0;
      width: 100%; }
      .view-home-page-carousel .flexslider .flex-direction-nav a.flex-next {
        right: 15px;
        opacity: .5; }
        .view-home-page-carousel .flexslider .flex-direction-nav a.flex-next:hover {
          opacity: 1; }
      .view-home-page-carousel .flexslider .flex-direction-nav a.flex-prev {
        left: 15px;
        opacity: .5; }
        .view-home-page-carousel .flexslider .flex-direction-nav a.flex-prev:hover {
          opacity: 1; }
  .block-total-twitter-tweets-block,
  .block-total-twitter-users-block {
    width: 50%;
    margin-left: 0;
    margin-top: 95px; }
    .block-total-twitter-tweets-block .count,
    .block-total-twitter-users-block .count {
      font-size: 24px; }
    .block-total-twitter-tweets-block .label,
    .block-total-twitter-users-block .label {
      font-size: 14px; }
      .block-total-twitter-tweets-block .label:after,
      .block-total-twitter-users-block .label:after {
        content: none; }
  /**  css for home page **/
  .block-what-barbet-is {
    padding: 2em 20px; }
  .Home-page--blukstore--section {
    padding-bottom: 60px; }
    .Home-page--blukstore--section .views-row {
      margin-bottom: 35px; }
      .Home-page--blukstore--section .views-row:last-child {
        margin-bottom: 0; }
    .Home-page--blukstore--section .view-content {
      flex-direction: column; }
    .Home-page--blukstore--section .views-field-body {
      padding: 0px 20px; }
    .Home-page--blukstore--section .views-field-title {
      font-size: 18px; }
  .section__mission-vision {
    flex-direction: column; }
  .views--mission-vision .views-row:last-child {
    background: #dfeecd; }
    .views--mission-vision .views-row:last-child .section__mission--text {
      background: transparent; }
    .views--mission-vision .views-row:last-child .section__mission-vision {
      flex-direction: column; }
  .views--mission-vision .views-row:first-child .section__mission-image {
    background: #fbfbfb; }
  .section__mission--text,
  .section__mission-image {
    padding: 15px 20px;
    width: 100%;
    text-align: center; }
    .section__mission--text img,
    .section__mission-image img {
      max-width: 100%; }
  .block-block-content .field--name-field-title {
    font-size: 22px;
    padding: 0 20px; }
  .section__mission--text p:first-child {
    font-size: 22px; }
  .block-total-twitter-users-block:after {
    content: none; }
  #forgot-password-section {
    font-size: 17px;
    width: 79%; }
    #forgot-password-section .signup {
      margin-bottom: 1em; }
  #user-login-prefix + div span {
    font-size: 12px; }
  /** Global Messages **/
  .path-frontpage .messages {
    max-width: 95% !important;
    width: auto !important;
    font-size: 14px;
    line-height: 20px;
    padding-left: 40px;
    left: 0;
    padding-right: 20px; }
    .path-frontpage .messages:before {
      font-size: 30px !important; }
  .messages {
    max-width: 95% !important;
    width: 100% !important;
    line-height: 20px;
    padding-left: 40px;
    padding-right: 20px;
    left: 0 !important;
    position: fixed !important;
    z-index: 9 !important;
    border-radius: 45px !important;
    font-size: 14px !important;
    margin-bottom: 52px !important;
    text-align: center; }
  /** css for footer **/
  .block-social-menu-link .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    padding-right: 44px; }
    .block-social-menu-link .menu li {
      padding: 0;
      height: 70px;
      width: 33%;
      flex-wrap: wrap; }
  .block-simplenews {
    padding: 30px 20px;
    padding-bottom: 25px; }
    .block-simplenews .form-item-message {
      text-align: center;
      font-size: 22px; }
    .block-simplenews .field--type-email {
      width: 100%; }
    .block-simplenews .form-actions {
      width: 100%;
      text-align: center; }
      .block-simplenews .form-actions .form-submit {
        width: auto;
        padding: .5em 20px;
        margin-top: 10px; }
  .block-sub-menu-footer-block {
    background: transparent;
    padding: 35px 0;
    border-top: 1px solid #fff; }
    .block-sub-menu-footer-block .menu li {
      padding: 0px 20px;
      width: 100%;
      text-align: right; }
      .block-sub-menu-footer-block .menu li:nth-child(1), .block-sub-menu-footer-block .menu li:nth-child(2), .block-sub-menu-footer-block .menu li:nth-child(3), .block-sub-menu-footer-block .menu li:before {
        display: none; }
  #block-copyrightblock {
    float: left;
    width: 100%; }
    #block-copyrightblock .copyright {
      color: #fff;
      padding: 0 20px;
      font-size: 14px; }
  /** css for logged in user for dashbord **/
  .block-users-dashboard-header-block,
  .block-users-dashboard-header-profile-block {
    float: none; }
    .block-users-dashboard-header-block .profile > a > div,
    .block-users-dashboard-header-profile-block .profile > a > div {
      border-left: none;
      padding-left: 0; }
  .block-users-tweets-statistics-block {
    position: relative;
    top: 0;
    width: 100%;
    display: none; }
    .block-users-tweets-statistics-block.block_totol_twitt_statistics_mobile {
      display: block; }
    .block-users-tweets-statistics-block .content > div a {
      text-align: center;
      padding: 0.5em 0.5em; }
      .block-users-tweets-statistics-block .content > div a .text {
        font-size: 12px;
        text-align: center; }
      .block-users-tweets-statistics-block .content > div a .value {
        font-size: 12px;
        text-align: center; }
      .block-users-tweets-statistics-block .content > div a div:before {
        content: none !important; }
  .user-logged-in .main-content {
    width: calc(100% - 10px);
    margin-left: 5px;
    margin-right: 5px;
    top: 0px;
    height: calc(100% - 110px);
    position: relative;
    margin-bottom: 60px; }
  #sidebar-first {
    width: 100%;
    margin: 0;
    top: initial;
    height: auto;
    bottom: 0;
    z-index: 99;
    padding-top: 5px; }
  .block-users-left-side-bar-block .content > div,
  .block-non-twitter-users-left-side-bar-block .content > div {
    display: flex;
    justify-content: space-around; }
  .block-users-left-side-bar-block .profile,
  .block-users-left-side-bar-block .non-twitter-profile,
  .block-non-twitter-users-left-side-bar-block .profile,
  .block-non-twitter-users-left-side-bar-block .non-twitter-profile {
    display: none; }
    .block-users-left-side-bar-block .profile ~ div,
    .block-users-left-side-bar-block .non-twitter-profile ~ div,
    .block-non-twitter-users-left-side-bar-block .profile ~ div,
    .block-non-twitter-users-left-side-bar-block .non-twitter-profile ~ div {
      display: inline-block;
      line-height: 7px;
      font-size: 9px;
      color: transparent;
      text-align: center;
      margin-left: 0;
      margin-right: 0; }
      .block-users-left-side-bar-block .profile ~ div.create_tweets:before,
      .block-users-left-side-bar-block .non-twitter-profile ~ div.create_tweets:before,
      .block-non-twitter-users-left-side-bar-block .profile ~ div.create_tweets:before,
      .block-non-twitter-users-left-side-bar-block .non-twitter-profile ~ div.create_tweets:before {
        display: block;
        text-align: center;
        position: relative;
        top: 10px;
        margin-right: 0; }
      .block-users-left-side-bar-block .profile ~ div.import_tweets:before,
      .block-users-left-side-bar-block .non-twitter-profile ~ div.import_tweets:before,
      .block-non-twitter-users-left-side-bar-block .profile ~ div.import_tweets:before,
      .block-non-twitter-users-left-side-bar-block .non-twitter-profile ~ div.import_tweets:before {
        display: block;
        text-align: center;
        position: relative;
        top: 10px;
        margin-right: 0; }
      .block-users-left-side-bar-block .profile ~ div.import_tweets:after,
      .block-users-left-side-bar-block .non-twitter-profile ~ div.import_tweets:after,
      .block-non-twitter-users-left-side-bar-block .profile ~ div.import_tweets:after,
      .block-non-twitter-users-left-side-bar-block .non-twitter-profile ~ div.import_tweets:after {
        content: none !important; }
      .block-users-left-side-bar-block .profile ~ div a,
      .block-users-left-side-bar-block .non-twitter-profile ~ div a,
      .block-non-twitter-users-left-side-bar-block .profile ~ div a,
      .block-non-twitter-users-left-side-bar-block .non-twitter-profile ~ div a {
        color: transparent;
        font-size: 9px;
        display: block;
        height: 20px;
        line-height: 4; }
        .block-users-left-side-bar-block .profile ~ div a:hover,
        .block-users-left-side-bar-block .non-twitter-profile ~ div a:hover,
        .block-non-twitter-users-left-side-bar-block .profile ~ div a:hover,
        .block-non-twitter-users-left-side-bar-block .non-twitter-profile ~ div a:hover {
          color: transparent; }
  .block-users-left-side-bar-block .import_tweets,
  .block-non-twitter-users-left-side-bar-block .import_tweets {
    border: none; }
  #my_tweets > span.text:before {
    display: block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center; }
  #my_tweets > span.text:after {
    content: none; }
  #notification-display {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: transparent;
    position: relative;
    top: 6px;
    transition: 0.5s ease-in-out; }
    #notification-display:before {
      content: "\f0e2";
      color: #303030;
      opacity: .5;
      font-size: 16px; }
    #notification-display:after {
      content: 'Recent Activity';
      text-decoration: none;
      font-size: 9px;
      display: block;
      color: transparent;
      margin-top: 7px;
      transition: 0.5s ease-in-out; }
    #notification-display.active:after {
      color: #303030;
      font-family: 'Roboto',sans-serif; }
    #notification-display.active:before {
      opacity: 1; }
  .region-sidebar-first #my_tweets {
    display: none; }
  .total_twitt_mobile {
    text-align: center;
    line-height: 18px; }
    .total_twitt_mobile a {
      font-size: 9px;
      text-align: center;
      text-decoration: none;
      display: block;
      text-align: center;
      position: relative;
      top: 6px;
      color: transparent; }
      .total_twitt_mobile a:before {
        content: "\f099";
        font-family: 'fontawesome';
        font-size: 14px;
        background: #303030;
        color: white;
        padding: 0;
        border-radius: 4px;
        vertical-align: bottom;
        margin-right: 10px;
        display: block;
        width: 18px;
        opacity: 0.5;
        left: 17px;
        position: relative;
        height: 18px;
        text-align: center;
        line-height: 18px; }
      .total_twitt_mobile a.active {
        color: #303030; }
        .total_twitt_mobile a.active:before {
          opacity: 1; }
  .send-tweets-form #edit-save,
  .send-tweets-form #edit-cancel,
  .send-tweets-form #edit-submit,
  .send-tweets-form #edit-tweet-now,
  .send-tweets-form #edit-clone,
  .tweets-queue-tweet-form #edit-save,
  .tweets-queue-tweet-form #edit-cancel,
  .tweets-queue-tweet-form #edit-submit,
  .tweets-queue-tweet-form #edit-tweet-now,
  .tweets-queue-tweet-form #edit-clone {
    font-size: 14px;
    padding-left: 0.5em;
    padding-right: 0.5em; }
  .send-tweets-form .message-header,
  .tweets-queue-tweet-form .message-header {
    padding: 0em 0.5em 1.5em 0.5em; }
    .send-tweets-form .message-header .form-item-display-box,
    .tweets-queue-tweet-form .message-header .form-item-display-box {
      position: absolute;
      right: 10px;
      margin-bottom: 0;
      margin-top: -105px; }
      .send-tweets-form .message-header .form-item-display-box input,
      .tweets-queue-tweet-form .message-header .form-item-display-box input {
        font-size: 12px; }
  .send-tweets-form .create-header,
  .tweets-queue-tweet-form .create-header {
    padding: 0.8em; }
  .send-tweets-form .form-type-managed-file,
  .tweets-queue-tweet-form .form-type-managed-file {
    position: relative;
    margin-top: 30px;
    width: 100%;
    margin-bottom: 30px; }
    .send-tweets-form .form-type-managed-file .form-managed-file,
    .tweets-queue-tweet-form .form-type-managed-file .form-managed-file {
      width: 50px;
      height: 50px;
      position: relative; }
      .send-tweets-form .form-type-managed-file .form-managed-file .form-file,
      .tweets-queue-tweet-form .form-type-managed-file .form-managed-file .form-file {
        width: 50px;
        height: 50px; }
      .send-tweets-form .form-type-managed-file .form-managed-file:before,
      .tweets-queue-tweet-form .form-type-managed-file .form-managed-file:before {
        padding-top: 13px;
        width: 50px;
        font-size: 24px; }
      .send-tweets-form .form-type-managed-file .form-managed-file .js-form-type-checkbox input[type="checkbox"],
      .tweets-queue-tweet-form .form-type-managed-file .form-managed-file .js-form-type-checkbox input[type="checkbox"] {
        height: 20px;
        width: 20px;
        right: 5px;
        top: 5px; }
      .send-tweets-form .form-type-managed-file .form-managed-file .js-form-type-checkbox .file,
      .tweets-queue-tweet-form .form-type-managed-file .form-managed-file .js-form-type-checkbox .file {
        margin-left: 10px; }
        .send-tweets-form .form-type-managed-file .form-managed-file .js-form-type-checkbox .file a:before,
        .tweets-queue-tweet-form .form-type-managed-file .form-managed-file .js-form-type-checkbox .file a:before {
          height: 50px;
          width: 50px;
          background-position: 10px 18px;
          padding: 0; }
      .send-tweets-form .form-type-managed-file .form-managed-file .option:after,
      .tweets-queue-tweet-form .form-type-managed-file .form-managed-file .option:after {
        top: 4px;
        right: 4px;
        height: 15px;
        width: 15px;
        line-height: 15px;
        font-size: 12px;
        padding: 0;
        text-align: center; }
  .send-tweets-form .js-form-type-managed-file .ajax-progress.ajax-progress-throbber:last-child,
  .tweets-queue-tweet-form .js-form-type-managed-file .ajax-progress.ajax-progress-throbber:last-child {
    display: none !important; }
  .send-tweets-form #edit-display-box.red-text,
  .tweets-queue-tweet-form #edit-display-box.red-text {
    color: red; }
  /** css for import tweet **/
  .-form-tweets-queue-csv-upload > .create-header + .create-header {
    text-align: center; }
    .-form-tweets-queue-csv-upload > .create-header + .create-header > div {
      width: 100%; }
  .-form-tweets-queue-csv-upload .js-form-managed-file {
    border-radius: 6px;
    text-align: left; }
  .-form-tweets-queue-csv-upload #edit-submit {
    border-radius: 4px;
    position: relative;
    top: 0;
    right: 0;
    margin: 20px 0 5px 0;
    padding: .85em 2em;
    display: inline; }
  .-form-tweets-queue-csv-upload .file--mime-text-csv + .form-submit {
    right: 5px;
    top: 4px;
    position: absolute; }
  .no-tweet-found {
    font-size: 28px;
    padding: .5em 0; }
    .no-tweet-found a {
      padding: .65em 1em;
      margin-right: 0;
      font-size: 14px; }
  /** profile setting page **/
  .profilesettingform {
    margin-top: 75px;
    margin-bottom: 70px; }
    .profilesettingform .message-header {
      margin-left: 0;
      padding: 15px 15px; }
      .profilesettingform .message-header .js-form-item,
      .profilesettingform .message-header #change-password {
        width: 100%;
        margin-right: 0;
        margin-bottom: 1em; }
        .profilesettingform .message-header .js-form-item label,
        .profilesettingform .message-header #change-password label {
          font-size: 16px;
          font-weight: normal; }
      .profilesettingform .message-header input[type="submit"] {
        margin: 10px auto;
        width: 100%; }
      .profilesettingform .message-header #change-password .change {
        font-size: 12px;
        top: 45px; }
    .profilesettingform .profile-setting {
      margin-left: 0;
      font-size: 16px;
      font-weight: normal;
      padding: 15px 15px; }
  /** filled **/
  .filled:before {
    font-size: 16px;
    text-align: center;
    padding: 0;
    line-height: 20px; }
  /** css for notification **/
  .notifications {
    width: 100%; }
    .notifications .notification-message-list {
      height: 86vh;
      width: 100%; }
      .notifications .notification-message-list.active {
        left: -12px;
        width: calc(100% + 25px);
        padding-bottom: 27px; }
      .notifications .notification-message-list > div:nth-child(1) {
        width: calc(100% - 11px); }
      .notifications .notification-message-list > div span.message_history_count {
        width: 100%; }
  /* messages in content region **/
  .region-content .messages--error,
  .region-content .messages,
  .-form-tweets-queue-csv-upload .js-form-managed-file .messages--error,
  .-form-tweets-queue-csv-upload .js-form-managed-file .messages {
    position: fixed !important;
    margin-top: auto; }
  /** css for signup page **/
  .path-signup .message-header .js-form-item {
    width: 100% !important;
    margin-bottom: 1em !important;
    margin-right: 0 !important; }
    .path-signup .message-header .js-form-item label {
      font-weight: normal !important; }
  .path-signup .layout-container .region-content {
    padding-top: 15px; }
  .path-signup .block-system-main-block {
    width: calc(100% - 10px);
    max-width: 100%;
    padding: 20px;
    border-radius: 0; }
    .path-signup .block-system-main-block input[type="submit"] {
      width: 100%; }
  .path-signup .signup-form .signup {
    font-size: 16px; }
    .path-signup .signup-form .signup + .signup {
      margin-top: 0; }
    .path-signup .signup-form .signup div {
      font-size: 16px; }
    .path-signup .signup-form .signup span {
      font-size: 10px;
      margin-top: 0; }
  /** hamburger for loged in white bg **/
  .path-signup #header,
  .page-node-type-thanku-pages #header {
    padding-bottom: 0.3em;
    border-bottom: 1px solid #d8d8d8; }
  .path-signup .c-hamburger span,
  .page-node-type-thanku-pages .c-hamburger span {
    background: #303030; }
    .path-signup .c-hamburger span:before, .path-signup .c-hamburger span:after,
    .page-node-type-thanku-pages .c-hamburger span:before,
    .page-node-type-thanku-pages .c-hamburger span:after {
      background: #303030; }
  .path-signup .c-hamburger.is-active span:before, .path-signup .c-hamburger.is-active span:after,
  .page-node-type-thanku-pages .c-hamburger.is-active span:before,
  .page-node-type-thanku-pages .c-hamburger.is-active span:after {
    background: #ffffff !important; }
  .path-signup .block-sub-nav-main-menu .menu li a,
  .page-node-type-thanku-pages .block-sub-nav-main-menu .menu li a {
    color: #ffffff; }
  .block-sub-nav-main-menu .menu li {
    margin-bottom: 1em;
    text-align: right;
    padding: 0 20px; }
    .block-sub-nav-main-menu .menu li a {
      color: #ffffff; }
  /** contact us page **/
  .path-contact #header {
    border-bottom: none; }
  .path-contact .block-system-main-block {
    width: 100%;
    padding: 0 20px;
    margin-top: -50px; }
  .path-contact .contact-message-write-to-us-form {
    max-width: 100%;
    width: 100%; }
  .path-contact .heading-write-us {
    font-size: 20px;
    text-align: center; }
  .block-contactusimageblock {
    display: none; }
  .block-product-srijan-technologies .field--name-field-company-logo {
    display: none; }
  .block-product-srijan-technologies .field--name-field-company-title {
    font-size: 30px; }
    .block-product-srijan-technologies .field--name-field-company-title .red-text {
      display: block; }
  .block-product-srijan-technologies .field--name-field-mobile-number-contact,
  .block-product-srijan-technologies .field--name-field-contact-,
  .block-product-srijan-technologies .field--name-field-contact {
    margin-bottom: 1.2em; }
  .block-product-srijan-technologies .field--name-field-visit-srijan a,
  .block-product-srijan-technologies .field--name-field-visit-srijan- a {
    padding: 10px 50px; }
  .block-product-srijan-technologies .field--name-field-background-image img {
    width: auto; }
  /** thanku page **/
  .thankyou-page .page-wrap {
    flex-wrap: wrap; }
  .thankyou-page .envelop {
    margin-right: 0;
    flex: none;
    max-width: 160px;
    margin: 25px auto;
    width: 100%; }
  .thankyou-page .content-wrap {
    width: 100%;
    float: left;
    flex: none;
    padding: 0 20px; }
    .thankyou-page .content-wrap h2 {
      font-size: 22px;
      max-width: 250px;
      margin: 0 auto;
      text-align: center; }
  /** privacy policy and terms of use **/
  .page-node-type-article #header {
    border-bottom: none; }
  .page-node-type-article .block-page-title-block h1 {
    font-size: 30px; }
  .page-node-type-article .node--type-article .field--name-body {
    padding-top: 30px; }
  .page-node-type-article .node--type-article .field--type-image img {
    width: auto; }
  .page-node-type-article main.main-content {
    margin-bottom: 0; }
  .page-node-type-article footer.site-footer {
    display: none; }
  /** import log **/
  .block-import-csv-log-block div.content > div:nth-child(2) {
    margin-top: 0px; }
  .block-import-csv-log-block div.content #import-csv-log-header {
    width: 100%;
    position: relative;
    background: #fff; }
    .block-import-csv-log-block div.content #import-csv-log-header div {
      font-size: 10px; }
  .block-import-csv-log-block div.content .import_log_items span {
    font-size: 12px; }
  /** aftet signup **/
  .path-signup div.messages--status {
    max-width: 100% !important;
    padding-top: 115px;
    padding-left: 20px;
    padding-right: 20px;
    position: relative !important;
    margin-bottom: 0 !important;
    z-index: 0 !important; }
    .path-signup div.messages--status:before {
      background-size: 100px;
      height: 100px;
      width: 100px;
      top: 0;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0; }
    .path-signup div.messages--status span {
      font-size: 18px;
      margin-bottom: 30px; }
      .path-signup div.messages--status span:before {
        left: 0;
        right: 0;
        margin: 0 auto; }
    .path-signup div.messages--status a {
      font-size: 16px; }
  body.user-logged-in.path-contact main.main-content {
    margin-bottom: 0; }
  body.user-logged-in.path-contact footer.site-footer {
    display: none; }
  /** faq-page **/
  div.faq-content {
    margin-top: -50px; }
    div.faq-content:before {
      content: "Frequently asked questions ";
      margin: 0 20px;
      opacity: 0.5;
      font-size: 14px; }
  .faq-category-group {
    border-bottom: 1px solid #d8d8d8;
    margin: 0 20px; }
  div.faq {
    width: 100%;
    display: block; }
    div.faq .faq-qa-hide {
      padding: 0; }
      div.faq .faq-qa-hide:before {
        display: none; }
    div.faq .faq-qa-header {
      margin: 0; }
      div.faq .faq-qa-header h3.faq-header {
        font-weight: normal;
        color: #303030;
        text-align: left;
        padding-top: 20px;
        position: relative; }
        div.faq .faq-qa-header h3.faq-header:after {
          content: "\f105";
          position: absolute;
          right: 0;
          font-family: 'fontawesome';
          height: 20px;
          width: 20px;
          line-height: 20px;
          top: 20px;
          font-size: 22px !important;
          text-align: center;
          cursor: pointer; }
        div.faq .faq-qa-header h3.faq-header.faq-category-qa-visible:after {
          content: "\f107"; }
        div.faq .faq-qa-header h3.faq-header.active:after {
          content: "\f107"; }
        div.faq .faq-qa-header h3.faq-header.active.faq-category-qa-visible:after {
          content: "\f107"; }
      div.faq .faq-qa-header a {
        color: #303030;
        text-align: left;
        padding: 0; }
    div.faq .faq-answer,
    div.faq .faq-question {
      padding-left: 55px; } }

/* css for tablet **/
@media only screen and (min-width: 768px) and (max-width: 1200px) {
  /** header **/
  #header .site-branding a {
    margin-left: 20px; }
  /** css for slider **/
  .path-frontpage #block-srijan-content {
    margin-top: -63px;
    float: none; }
  .path-frontpage .section + .section .region-middle {
    margin-top: 50px; }
  .user-login-form {
    width: 320px;
    margin-right: 15px;
    padding: 5em 2em 6em 2em;
    margin-top: 0;
    height: 435px; }
    .user-login-form .form-item-name {
      margin-bottom: 1.5em; }
  .twitter-btn {
    padding: 15px 30px; }
  #forgot-password-section {
    width: 80%;
    font-size: 18px; }
    #forgot-password-section .signup {
      margin-bottom: 1.5em; }
  .Home-page--blukstore--section .views-field-body {
    padding: 0px 20px; }
  .view-home-page-carousel .field-content {
    height: 100%; }
  .view-home-page-carousel .flexslider {
    height: 590px; }
    .view-home-page-carousel .flexslider .slides .slider-content {
      top: 20%;
      left: 30px; }
      .view-home-page-carousel .flexslider .slides .slider-content p {
        font-size: 14px; }
      .view-home-page-carousel .flexslider .slides .slider-content h2 {
        font-size: 28px; }
    .view-home-page-carousel .flexslider .slides .views-field-field-front-page-image {
      height: 590px; }
      .view-home-page-carousel .flexslider .slides .views-field-field-front-page-image img {
        height: 100%;
        width: auto; }
    .view-home-page-carousel .flexslider .flex-control-paging {
      bottom: 130px;
      left: 95px;
      width: 140px; }
    .view-home-page-carousel .flexslider .flex-direction-nav {
      width: 320px;
      bottom: 24%;
      left: 0; }
  .block-total-twitter-tweets-block,
  .block-total-twitter-users-block {
    margin-top: 170px;
    margin-left: 2em; }
    .block-total-twitter-tweets-block .count,
    .block-total-twitter-users-block .count {
      font-size: 24px; }
    .block-total-twitter-tweets-block .label,
    .block-total-twitter-users-block .label {
      font-size: 16px; }
  .block-total-twitter-tweets-block {
    margin-left: 10em !important; }
    .block-total-twitter-tweets-block:after {
      left: 115px; }
  .block-total-twitter-users-block:after {
    top: 14px;
    left: 112px;
    padding: 10px 12px;
    font-size: 24px; }
  .block-what-barbet-is {
    padding: 5em 20px;
    padding-top: 0; }
  .block-block-content .field--name-field-title {
    font-size: 32px; }
  .Home-page--blukstore--section .views-field-title {
    font-size: 18px; }
  .section__mission-image {
    padding: 20px img;
      padding-max-width: 100%; }
  .section__mission--text {
    padding: 20px 20px; }
    .section__mission--text p:first-child {
      font-size: 32px;
      margin-top: 0;
      line-height: 1; }
    .section__mission--text p:last-child {
      margin-bottom: 0; }
  .block-we-vailble-for-your-favour .field--name-field-title {
    max-width: 560px;
    margin: 0 auto; }
  .block-simplenews {
    padding: 30px 20px; }
  #block-copyrightblock {
    float: left;
    width: 100%; }
  /** dashboard **/
  .block-users-dashboard-header-block .profile > a > div,
  .block-users-dashboard-header-profile-block .profile > a > div {
    padding-right: 10px; }
  .block-users-tweets-statistics-block .content > div a .total_tweets:before,
  .block-users-tweets-statistics-block .content > div a .valid_tweets:before,
  .block-users-tweets-statistics-block .content > div a .archived_tweets:before {
    font-size: 2.2em;
    top: 25px; }
  .block-users-tweets-statistics-block .content > div a.invalid_tweets .valid_tweets:before {
    top: 25px;
    background-size: 88%; }
  .block-users-tweets-statistics-block .content > div a .text {
    font-size: 13px; }
  .block-users-left-side-bar-block .profile ~ div,
  .block-users-left-side-bar-block .non-twitter-profile ~ div,
  .block-non-twitter-users-left-side-bar-block .profile ~ div,
  .block-non-twitter-users-left-side-bar-block .non-twitter-profile ~ div {
    font-size: 13px; }
    .block-users-left-side-bar-block .profile ~ div a,
    .block-users-left-side-bar-block .non-twitter-profile ~ div a,
    .block-non-twitter-users-left-side-bar-block .profile ~ div a,
    .block-non-twitter-users-left-side-bar-block .non-twitter-profile ~ div a {
      font-size: 13px; }
  .send-tweets-form #edit-save,
  .send-tweets-form #edit-cancel,
  .send-tweets-form #edit-submit,
  .send-tweets-form #edit-clone,
  .send-tweets-form #edit-tweet-now,
  .tweets-queue-tweet-form #edit-save,
  .tweets-queue-tweet-form #edit-cancel,
  .tweets-queue-tweet-form #edit-submit,
  .tweets-queue-tweet-form #edit-clone,
  .tweets-queue-tweet-form #edit-tweet-now {
    margin-top: 90px;
    font-size: 16px; }
  .send-tweets-form .form-type-textarea,
  .tweets-queue-tweet-form .form-type-textarea {
    margin-bottom: 30px; }
  .send-tweets-form .message-header .form-item-display-box,
  .tweets-queue-tweet-form .message-header .form-item-display-box {
    width: 100%;
    margin-top: -25px;
    position: absolute;
    right: 17px; }
  .block-users-left-side-bar-block .import_tweets,
  .block-non-twitter-users-left-side-bar-block .import_tweets {
    padding-bottom: 1.6em; } }

/** portrait view for ipad **/
@media only screen and (min-width: 768px) and (max-width: 980px) {
  .user-logged-in .block-users-valid-tweets-block,
  .user-logged-in .block-users-in-valid-tweets-block,
  .user-logged-in .block-users-archived-tweets-block,
  .user-logged-in .block-users-all-tweets-block,
  .user-logged-in .block-users-tweeted-tweets-block {
    max-height: 75vh; }
    .user-logged-in .block-users-valid-tweets-block .item-list .header,
    .user-logged-in .block-users-in-valid-tweets-block .item-list .header,
    .user-logged-in .block-users-archived-tweets-block .item-list .header,
    .user-logged-in .block-users-all-tweets-block .item-list .header,
    .user-logged-in .block-users-tweeted-tweets-block .item-list .header {
      font-size: 9px; }
    .user-logged-in .block-users-valid-tweets-block .item-list + .item-list ul ul,
    .user-logged-in .block-users-in-valid-tweets-block .item-list + .item-list ul ul,
    .user-logged-in .block-users-archived-tweets-block .item-list + .item-list ul ul,
    .user-logged-in .block-users-all-tweets-block .item-list + .item-list ul ul,
    .user-logged-in .block-users-tweeted-tweets-block .item-list + .item-list ul ul {
      font-size: 9px; }
  .custom-checkbox input {
    height: 15px;
    width: 15px; }
  .custom-checkbox label {
    width: 15px;
    height: 15px; }
  /** My profile **/
  .profilesettingform .message-header .js-form-item,
  .profilesettingform .message-header #change-password {
    margin-right: 75px; }
  .profilesettingform .message-header input[type="submit"] {
    margin: 20px 165px; }
  /** contact us page **/
  .path-contact .block-system-main-block {
    width: 30%; }
  .path-contact .region-content {
    display: flex; }
  .block-contactusimageblock .field--type-svg-image-field {
    padding-top: 34px; }
  .block-contactusimageblock img {
    max-width: 60%;
    height: 100%; }
  .block-contactusimageblock .field--name-field-title {
    right: 7%;
    bottom: 0;
    font-size: 20px; }
    .block-contactusimageblock .field--name-field-title .green-text {
      font-size: 30px; }
  .block-import-csv-log-block .import_log_items span,
  .block-import-csv-log-block #import-csv-log-header span {
    font-size: 10px; }
  .block-import-csv-log-block .import_log_items div,
  .block-import-csv-log-block #import-csv-log-header div {
    font-size: 11px; } }

@media (hover: on-demand) {
  .form-submit:hover {
    display: none !important; } }
