@media only screen and (min-width: 768px) {
    .mobile-menus {
   	   display: none;
    }
}

@media screen and (max-width: 23.4375em) {
	.site-branding div a {
	    font-size: 8vw;
	}
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
	/** header **/
	#header {
	    padding-left: 15px;
        padding-right: 15px;
	}
	.site-branding {
		float: left !important;
        width: auto !important;
        svg {
        	width: auto;
        }
	}
	.site-branding__logo {
		width: 50px;
	}
	.c-hamburger:focus {
        outline: 0;
    }
    .c-hamburger--htx {
       background-color: transparent;
        span {
           -webkit-transition: background 0s .3s;
           transition: background 0s .3s;
        }
    }
    .c-hamburger {
	    display: block;
	    position: absolute;
	    overflow: hidden;
	    margin: 0;
	    padding: 0;
	    width: 44px;
	    right: 0;
	    top: 9px;
	    z-index: 2;
	    height: 20px;
	    font-size: 0;
	    text-indent: -9999px;
	    -webkit-appearance: none;
	    -moz-appearance: none;
	    appearance: none;
	    box-shadow: none;
	    border-radius: none;
	    border: none;
	    cursor: pointer;
	    -webkit-transition: background .3s;
	    transition: background .3s;
	     span {
		    display: block;
		    position: absolute;
		    top: 8px;
		    left: 18px;
		    right: 0px;
		    height: 3px;
		    background: #fff;
		}
	}
	.c-hamburger--htx span::after, 
	.c-hamburger--htx span::before {
	    -webkit-transition-duration: .3s,.3s;
	    transition-duration: .3s,.3s;
	    -webkit-transition-delay: .3s,0s;
	    transition-delay: .3s,0s;
	}
	.c-hamburger span::after, 
	.c-hamburger span::before {
	    position: absolute;
	    display: block;
	    left: 0;
	    width: 100%;
	    height: 3px;
	    background-color: #fff;
	    content: "";
	}

	.c-hamburger span::before {
	    top: -8px;
	}
	.c-hamburger--htx span::before {
	    -webkit-transition-property: top,-webkit-transform;
	    transition-property: top,transform;
	}
	.c-hamburger--htx span::after, 
	.c-hamburger--htx span::before {
	    -webkit-transition-duration: .3s,.3s;
	    transition-duration: .3s,.3s;
	    -webkit-transition-delay: .3s,0s;
	    transition-delay: .3s,0s;
	}
	.c-hamburger span::after {
	    bottom: -8px;
	}
	.c-hamburger--htx span::after {
	    -webkit-transition-property: bottom,-webkit-transform;
	    transition-property: bottom,transform;
	}
	.c-hamburger.c-hamburger--htx.is-active + .sidenav {
		width: 250px;
	}
	.c-hamburger--htx.is-active span::after, .c-hamburger--htx.is-active span::before {
	    -webkit-transition-delay: 0s,.3s;
	    transition-delay: 0s,.3s;
	}
	.c-hamburger--htx.is-active span::after {
	    bottom: 0;
	    -webkit-transform: rotate(-45deg);
	    -ms-transform: rotate(-45deg);
	    transform: rotate(-45deg);
	}
	.c-hamburger--htx.is-active span::before {
	    top: 0;
	    -webkit-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	    transform: rotate(45deg);
	}
	.c-hamburger--htx.is-active span {
	    background: 0 0;
	}
	.c-hamburger.c-hamburger--htx.is-active {
      position: fixed;
      right: 15px;
      top: 25px;
    }
	.sidenav {
	    height: 100%; /* 100% Full-height */
	    width: 0; /* 0 width - change this with JavaScript */
	    position: fixed; /* Stay in place */
	    z-index: 1; /* Stay on top */
	    top: 0;
	    right: 0;
	    background-color: #111; /* Black*/
	    overflow-x: hidden; /* Disable horizontal scroll */
	    padding-top: 60px; /* Place content 60px from the top */
	    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
	}
	.sidenav a {
	    padding: 8px 8px 8px 32px;
	    text-decoration: none;
	    font-size: 25px;
	    color: #818181;
	    display: block;
	    transition: 0.3s
	}
	.block-sub-nav-main-menu {
		.menu {
			li {
				display: block;
			}
		}
	}
	/** home page slider **/
	.path-frontpage {
		.region-content {
			display: flex;
    		flex-wrap: wrap;
		}
	    #block-srijan-content {
		    order: 3;
		    width: 100%;
		    margin-top: 45px;
		}
		#block-twitterusersblock {
			order: 2;
		}
		#block-twittertweetsblock {
            order: 1;
		}
		.user-login-form {
			width: 90%;
            float: none;
            margin: 0 auto;
            box-shadow: 0px 3px 13px #888888;
		}
		.section + .section .region-middle {
			margin-top: 0;
		}
	}
	.view-home-page-carousel {
	    .flexslider {
		    height: 580px;
		    .slides {
		    	.views-field-field-front-page-image {
		    		height: 580px; 
		    		img {
                         height: 100%;
		    		}
		    	}
		    	.slider-content {
		    		top: 80px;
				    left: 0;
				    width: 100%;
				    padding: 20px;
		    		h2 {
		    		   font-size: 26px;
		    		   text-align: center;
		    	    }

		    		p {
		    		   padding: 0 30px;
                       text-align: center;	
		    		}
		    	}
		    }
		    .flex-control-paging {
		    	width: 100%;
                left: 0;
                li {
	                a {
	                	width: 10px;
	                    height: 10px;
	                    background: #303030;
	                }
	            }
		    }
		    .flex-direction-nav {
		    	bottom: 48%;
                left: 0;
                width: 100%;
		    }
	    }
	     
	}
	.block-total-twitter-tweets-block ,
	.block-total-twitter-users-block {
		width: 50%;
		margin-left: 0;
	    .count {
	  	   font-size: 30px;
	    }
	    .label {
            font-size: 18px;
            &:after {
            	content: none;
            }
	    }
	}
	/**  css for home page **/
	.block-what-barbet-is {
		padding: 2em 20px;
	}

	.Home-page--blukstore--section  {
		padding-bottom: 60px;
	  .view-content {
	  	flex-direction: column;
	  }
	  .views-field-body {
	  	padding: 0px 20px;
	  }
	}
	.section__mission-vision {
		    flex-direction: column;
	}
	.views--mission-vision {
	    .views-row {
	   	    &:last-child {
	   	    	background: #dfeecd;
	   	    	.section__mission--text {
	   	    		background: transparent;
	   	    	}
	           .section__mission-vision {
	                flex-direction: column;
		       }
	        }
	        &:first-child {
	        	.section__mission-image {
	        		background: #fbfbfb;
	        	}
	        }
	    }
	}
	.section__mission--text,
	.section__mission-image {
		padding: 15px 20px;
		width: 100%;
		text-align: center;
	}
	.block-block-content {
	   .field--name-field-title {
	   	  font-size: 30px;
	   	  padding: 0 20px;
	   }
	}
	.section__mission--text {
		p:first-child {
           font-size: 30px;
		}
	}
	.block-total-twitter-users-block:after {
		content: none;
	}
	/** css for footer **/
	.block-social-menu-link {
        .menu {
    	    display: flex;
		    justify-content: center;
		    align-items: center;
		    text-align: center;
        	flex-wrap: wrap;
            padding-right: 44px;
            li {
            	padding: 0;
			    height: 70px;
			    width: 33%;
			    flex-wrap: wrap;
            }
        }
	}
	.block-simplenews {
		padding: 30px 20px;
		padding-bottom: 25px;
	   .form-item-message {
	   	text-align: center;
	   	font-size: 26px;
	   }
	   .field--type-email {
	   	width: 100%;
	   }
	   .form-actions {
	   	width: 100%;
	   	text-align: center;
	   	.form-submit {
	   		width: auto;
	   		padding: .5em 20px;
	   		margin-top: 10px;
	   	}
	   }
	}
	.block-sub-menu-footer-block {
		display: none;
	}
	#block-copyrightblock {
		float: left;
	    width: 100%;
	    .copyright {
	  	    color: #fff;
	        padding: 0 20px;
            font-size: 18px;
	    }
	}
}
