// Variables

$signup		:    #f98575;
$gray		:	 #919191;
$dark		:	 #212121;
$login-btn	:	 #96c85a;
$twitter	:	 #2aa9e0;

// Extends
%none {
	display: none;
}

%mp-none {
	margin: 0;
	padding: 0;
}